.header {
  display: flex;
  padding: 30px;
  background: #181818;
  color: #ffdd08;
}

.div{
    flex-grow: 1;
    font-size: 20px;
}

.ul{
    padding: 0;
margin: 0;
list-style: none;
font-size: 20px;

}
