.container {
 display: flex;
 align-items: center;
 justify-content: center;
}

.button{
  padding: 15px 50px;
  cursor: pointer;
  background-color: #181818;
  color: #ffdd08;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 20px;

}

